schedule-picker table {
	box-sizing: border-box;
	width: 100%;

	> thead > tr {
		> th {
			text-align: center;
		}
	}

	> tbody > tr {
		th {
			// This is the column that shows the time.
			width: 1px; //width is 1px so it takes as little space as posibble;
			padding-left: 5px;
			padding-right: 5px;
		}

		td {
			width: 100% / 7;
			background: transparentize($color: red, $amount: 0.5);
			border-radius: 0;
			border-width: 1px 1px 0 0;
			border-style: solid;
			border-color: transparentize(black, 0.5);

			&:first-of-type {
				border-left-width: 1px;
			}

			&.selected {
				background: transparentize(blue, 0.5);
			}

			&.selecting {
				background: transparentize(cyan, 0.5);
			}
		}

		&:last-of-type td {
			border-bottom-width: 1px;
		}
	}
}